<html>
    <head>
        <h1>Creer un nouvel utilisateur</h1>
    </head>
    
    <body>
        <div>
            <form action="<%= users_path %>" method="POST">
                <p> <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>"> </p>
                <p> <input type="text" name="first_name" placeholder="Entrez votre prénom"> </p>
                <p> <input type="text" name="last_name" placeholder="Entrez votre nom"> </p>
                <p> <input type="text" name="age" placeholder="Entrez votre age"> </p>
                <p> <input type="text" name="email" placeholder="Entrez votre email"> </p>
                <p> <input type="text" name="password" placeholder="Entrez votre mot de passe"> </p>
                <p> <input type="submit" value="Valider"> </p>
            </form>
        </div>
    </body>
</html>